{% load static %}
<!-- top-header -->
<div class="shadow position-fixed w-100 h-100 d-md-none d-lg-none"></div>
<!-- top-header -->
<header class="position-relative">
    {# Mobile  #}
    <section
            class="nav-header-box-mob d-flex d-sm-flex d-md-none  align-items-center justify-content-between d-md-none d-lg-none position-fixed">
        <div class="hamburger-icon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="logo">
            <a href="{% url "home:home" %}"><img src="{% static "image/logo2.png" %}" class="logo-img img-fluid"
                                                 alt=""/></a>
        </div>

        <div class="d-flex align-items-center">
            <div class="header-account">
                <div class="notification-box dropdown">
                    {% if request.user.is_authenticated %}
                        <a href="#" class="btn login-btn" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if request.user.image %}
                                <img src="{{ request.user.image.url }}" alt="">
                            {% else %}
                                <img src="{% static "image/sutdent-prof.png" %}" alt="">
                            {% endif %}
                        </a>

                        <div class="dropdown-menu account-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">
                            <a href="{% url "account:panel_user" %}">پنل کاربری</a>
                            <a href="{% url "account:logout" %}"> خروج</a>
                        </div>

                    {% else %}

                        <a href="" class="btn account-btn" type="button"
                           id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="prepend-icon ml-1">
                                    <i class="fa fa-user-circle"></i>
                                </span> <span>حساب کاربری </span>
                        </a>

                        <div class="dropdown-menu account-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">
                            <a class="" href="{% url "account:register_login" %}">ثبت نام/ورود</a>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {# Mobile  #}

    {#  Desktop  #}
    <div class="main-header position-relative">

        <div class="nav-header-box mob1 d-md-flex d-lg-flex align-items-center justify-content-between">

            <div class="d-flex flex-column flex-md-row align-items-center pr-md-4">
                <div class="logo d-flex justify-content-center align-items-center ml-3">
                    <a href="{% url "home:home" %}"><img src="{% static 'image/logo2.png' %}"
                                                         class="logo-img img-fluid"/></a>
                </div>
                <!-- SEARCH -->
                <form action="{% url "home:search" %}" method="GET" class="nav-search-btn">
                    <input name="q" type="text" placeholder="جستجو">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <!-- END SEARCH -->

            </div>
            <div class="d-block d-md-flex align-items-center pl-md-4">
                <!-- NOTIFICATIONS -->
                {% if request.user.is_authenticated %}
                    <div class="dropdown notification-box">
                        <div class="position-relative d-none d-md-block " type="button" id="dropdownMenuButton"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'image/notification.png' %}" class="notification-img" alt="">
                            <div class="badge">{{ request.user.notification.all.count }}</div>
                        </div>
                        {% if request.user.notification.all %}
                            <div class="dropdown-menu notification-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">
                                {% for notification in request.user.notification.all|slice:":5" %}
                                    <a class="border-bottom"
                                       href="{{ notification.get_absulot_url }}"> {{ notification.body|safe }}<strong>({{ notification.sender.status }})</strong></a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <!-- END NOTIFICATIONS -->

                <div class="header-login d-none d-md-block">
                    <div class="notification-box dropdown">
                        <a href="" class="btn login-btn" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if request.user.image %}
                                <img src="{{ request.user.image.url }}" alt="image">
                            {% else %}
                                <img src="{% static 'image/sutdent-prof.png' %}" alt="image">
                            {% endif %}
                        </a>
                        <div class="dropdown-menu account-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">
                            {% if request.user.is_authenticated %}
                                <a href="{% url "account:panel_user" %}">پنل کاربری</a>
                                <a class="#" href="{% url "account:logout" %}"> خروج</a>
                            {% else %}
                                <a class="#" href="{% url "account:register_login" %}"><i class=" fa fa-account"></i>ثبت
                                    نام/ورود</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#  Desktop  #}

    {#  navbar  #}
    <nav class="nav-menu nav-menu-pc  d-none d-md-flex px-4" id="navbar">
        <li id="li-" class="mx-3 menu-item">
            <a href="#" class="nav-menu-item">
                پایتون
            </a>
            <ul class="sub-menu">
                <a href="">آموزش مقدماتی تا پیشرفته</a>
                <a href="">آموزش فریمورک جنگو</a>
            </ul>
        </li>
        <li id="li-" class="mx-3 menu-item">
            <a href="#" class="nav-menu-item">
                جاوااسکریپت
            </a>
            <ul class="sub-menu">
                <a href="">React</a>
                <a href="">Vue</a>
                <a href="">ReactNative</a>
            </ul>
        </li>
        <li id="li-" class="mx-3 menu-item">
            <a href="#" class="nav-menu-item">
                تایپ اسکریپت
            </a>
            <ul class="sub-menu">
                <a href="">اموزش پیشرفته</a>
            </ul>
        </li>
    </nav>
    {#  navbar  #}
</header>

