{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">
                            <div class="my-3 text-center">عضویت در سایت</div>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.errors }}
                                <div class="field">
                                    <i class="fa fa-phone"></i>
                                    {{ form.number }}
                                </div>
                                <div class="my-3">
                                    <button class="btn custom-btn w-100">کد تاید</button>
                                </div>
                            </form>

                            <div class="">
                                <p class="small text-center my-3">عضویت از طریق حساب‌های کاربری دیگر</p>
                                <div class="">

                                    <div class="social-accunt">
                                        <a title="Google" class="" href="#">
                                            <img height="24" src="{% static "image/google.svg" %}"
                                                 class="d-block m-auto">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}